.form {
  display: flex;
  border-top: 1px solid rgba(248, 241, 241, 0.472);
  height: 60px;
  
}

.input {
  border: none;
  border-radius: 0 0 0 20px;
  padding: 3% 5%;
  width: 80%;
  font-size: 1.0em;
  background: #2f3241;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to right,#3f5ad8,#249fe6);
  padding: 20px ;
  display: inline-block;
  border: none;
  width: 20%;
  font-family: 'Varela Round', sans-serif;
  border-radius: 0 0 20px 0;
}