html, body {
  font-family: 'Varela Round', sans-serif;
      padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #272936;
    flex-direction: column;
  }
  
  .joinInnerContainer {
    width: 20%;
    /* background-color: red; */
  }
  
  .joinInput {
    border-radius: 20px;
    border: 0px;
    padding: 15px 20px;
    width: 100%;
    background: linear-gradient(to right, #303443,#303443a9)
     ;
    color: #fff;
    letter-spacing: 0.5px;
    font-family: 'Varela Round', sans-serif;
  }
  
  .dialogueBar{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
  .dialogue{
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-family: 'Varela Round', sans-serif;
    color: rgba(255, 255, 255, 0.63);
    padding-right: 10px;
  }
  .heartIcon{
    margin-top: 5px;

  }
  .heading {
    color: white;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 8px;
    border-bottom: 2px solid #3f5ad8;
    font-family: 'Varela Round', sans-serif;
  }
  .subtitle{
    color: #9886ff86;
    font-weight: 100;
    font-size: 0.9em;
    padding-bottom: 10px;
  }
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: linear-gradient(to right,#3f5ad8,#249fe6);
      padding: 20px;
      border-radius: 40px;
      display: inline-block;
      border: none;
      width: 60%;
      font-family: 'Varela Round', sans-serif;
      margin-top: 30px;
      
  }
  
  .mt-20 {
    margin-top: 20px;
  }
    

  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
    .joinInnerContainer {
      width: 90%;
    }
    .heading{
      font-size: 2em;
    }
    
  }
  @media (min-width: 480px) and (max-width: 1270px) {
    .joinOuterContainer {
      height: 100%;
    }
    .joinInnerContainer {
      width: 90%;
    }
    .heading{
      font-size: 2em;
    }
  
  }
  
  button:focus {
    outline: 0;
  }
  input:focus {
    outline: 0;
  }